
<li class="drop">
    <a href="#" class="cart-opener">
        <span class="icon-handbag"></span>
        <span class="num" id="num">0</span>
    </a>
    <!-- mt drop start here -->
    <div class="mt-drop">
        <!-- mt drop sub start here -->
        <div class="mt-drop-sub">
            <!-- mt side widget start here -->
            <div class="mt-side-widget" id="cartdetail">
                <p style="font-weight:600;color:red;font-size:16px">Chưa có sản phẩm nào trong giỏ hàng</p>
            </div><!-- mt side widget end here -->
        </div>
        <!-- mt drop sub end here -->
    </div><!-- mt drop end here -->
    <span class="mt-mdropover"></span>
</li>
