<div class="popup-holder">
    <div id="popup1" class="lightbox">
        <!-- Mt Product Detial of the Page -->
        <section class="mt-product-detial">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- Slider of the Page -->
                        <div class="slider">
                            <!-- Comment List of the Page -->
                            <ul class="list-unstyled comment-list">
                                <li><a href="#"><i class="fa fa-heart"></i>27</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i>12</a></li>
                                <li><a href="#"><i class="fa fa-share-alt"></i>14</a></li>
                            </ul><!-- Comment List of the Page end -->
                            <!-- Product Slider of the Page -->
                            <div class="product-slider">
                                <div class="slide">
                                    <img src="~/Assets/images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="~/Assets/images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="~/Assets/images/img03.jpg" alt="image descrption">
                                </div>
                                <div class="slide">
                                    <img src="~/Assets/images/img03.jpg" alt="image descrption">
                                </div>
                            </div><!-- Product Slider of the Page end -->
                            <!-- Pagg Slider of the Page -->
                            <ul class="list-unstyled slick-slider pagg-slider">
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                                <li><img src="~/Assets/images/img03.jpg" alt="image description"></li>
                            </ul><!-- Pagg Slider of the Page end -->
                        </div><!-- Slider of the Page end -->
                        <!-- Detail Holder of the Page -->
                        <div class="detial-holder">
                            <!-- Breadcrumbs of the Page -->
                            <ul class="list-unstyled breadcrumbs">
                                <li><a href="#">Chairs <i class="fa fa-angle-right"></i></a></li>
                                <li>Products</li>
                            </ul>
                            <!-- Breadcrumbs of the Page end -->
                            <h2>KAILA FABRIC CHAIR</h2>
                            <!-- Rank Rating of the Page -->
                            <div class="rank-rating">
                                <ul class="list-unstyled rating-list">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <span class="total-price">Reviews (12)</span>
                            </div><!-- Rank Rating of the Page end -->
                            <ul class="list-unstyled list">
                                <li><a href="#"><i class="fa fa-share-alt"></i>SHARE</a></li>
                                <li><a href="#"><i class="fa fa-exchange"></i>COMPARE</a></li>
                                <li><a href="#"><i class="fa fa-heart"></i>ADD TO WISHLIST</a></li>
                            </ul>
                            <div class="txt-wrap">
                                <p>Koila is a chair designed for restaurants and food lovers in general. Designed in collaboration with restaurant professionals, it ensures comfort and an ideal posture, as there are armrests on both sides of the chair.</p>
                                <p>Koila is a seat designed for restaurants and gastronomic places in general. Designed in collaboration with professional of restaurants and hotels field, this armchair is composed of a curved shell with a base in oak who has pinched the back upholstered in fabric or leather. It provides comfort and holds for ideal sitting position,the arms may rest on the sides ofthe armchair.</p>
                            </div>
                            <div class="text-holder">
                                <span class="price">$ 79.00 <del>399,00</del></span>
                            </div><!-- Product Form of the Page -->
                            <form action="#" class="product-form">
                                <fieldset>
                                    <div class="row-val">
                                        <label for="qty">qty</label>
                                        <select id="clr">
                                            <option>1</option>
                                        </select>
                                    </div>
                                    <div class="row-val">
                                        <button type="submit">ADD TO CART</button>
                                    </div>
                                </fieldset>
                            </form><!-- Product Form of the Page end -->
                        </div><!-- Detail Holder of the Page end -->
                    </div>
                </div>
            </div>
        </section><!-- Mt Product Detial of the Page end -->
    </div>
</div>
