
<div class="mt-side-menu">
    <!-- mt holder start here -->
    <div class="mt-holder">
        <a href="#" class="side-close"><span></span><span></span></a>
        <strong class="mt-side-title">TÀI KHOẢN CỦA TÔI</strong>
        <!-- mt side widget start here -->
        <div class="mt-side-widget">
            <header>
                <span class="mt-side-subtitle">ĐĂNG NHẬP</span>
                <p>Chào mừng trở lại! Đăng nhập vào tài khoản của bạn</p>
            </header>
            <form action="#">
                <fieldset>
                    <input type="text" placeholder="Tên đăng nhập hoặc tài khoản email" class="input">
                    <input type="password" placeholder="Mật khẩu" class="input">
                    <div class="box">
                        <span class="left"><input class="checkbox" type="checkbox" id="check1"><label for="check1">Nhớ mật khẩu</label></span>
                        <a href="#" class="help">Giúp đỡ?</a>
                    </div>
                    <button type="submit" class="btn-type1">Đăng nhập</button>
                </fieldset>
            </form>
        </div>
        <!-- mt side widget end here -->
        <div class="or-divider"><span class="txt">HOẶC</span></div>
        <!-- mt side widget start here -->
        <div class="mt-side-widget">
            <header>
                <span class="mt-side-subtitle">TẠO TÀI KHOẢN MỚI</span>
                <p>Tạo tài khoản mới</p>
            </header>
            <form action="#">
                <fieldset>
                    <input type="text" placeholder="Tên đăng nhập hoặc tài khoản email" class="input">
                    <button type="submit" class="btn-type1">Đăng kí</button>
                </fieldset>
            </form>
        </div>
        <!-- mt side widget end here -->
    </div>
    <!-- mt holder end here -->
</div>