<div class="mt-main-slider">
    <!-- slider banner-slider start here -->
    <div class="slider banner-slider">
        <!-- holder start here -->
        <div class="holder text-center" style="background-image: url(assets/images/sliders/img04.jpg);height: 586px;">
        </div>
        <!-- holder end here -->
        <!-- holder start here -->
        <div class="holder text-center" style="background-image: url(assets/images/sliders/img05.jpg);
        height: 586px;">
        </div>
        <!-- holder end here -->
    </div>
    <!-- slider regular end here -->
</div>
