@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Slide")
<main id="mt-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mt-producttabs wow fadeInUp" data-wow-delay="0.4s">
                    <!-- producttabs start here -->
                    <ul class="producttabs" style="margin-bottom:16px">
                        <li><a href="#tab1" class="active">FEATURED</a></li>
                        <li><a href="#tab2">LATEST</a></li>
                        <li><a href="#tab3">BEST SELLER</a></li>
                    </ul>
                    <!-- producttabs end here -->
                    <div class="tab-content text-center">
                        <div id="tab1">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img01.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Puff Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img06.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Easy chair with armrests</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img03.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Wood Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img08.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Trestle-based chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img04.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img09.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img05.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img10.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                        <div id="tab2">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img06.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Easy chair with armrests</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img01.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Puff Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img08.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Trestle-based chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img03.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Wood Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img09.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img04.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img10.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img05.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                        <div id="tab3">
                            <!-- tabs slider start here -->
                            <div class="tabs-slider">
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img01.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Puff Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img06.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Easy chair with armrests</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>287,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img03.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Wood Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img08.jpg" alt="image description"></a>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Trestle-based chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>198,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img09.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img04.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                        <span class="new">NEW</span>
                                                    </span>
                                                    <ul class="mt-stars">
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star"></i></li>
                                                        <li><i class="fa fa-star-o"></i></li>
                                                    </ul>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img05.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img10.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                                <!-- slide start here -->
                                <div class="slide">
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img07.jpg" alt="image description"></a>
                                                    <span class="caption">
                                                        <span class="off">15% Off</span>
                                                    </span>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Upholstered chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div>
                                    <!-- mt product1 center end here -->
                                    <!-- mt product1 center start here -->
                                    <div class="mt-product1 mt-paddingbottom20">
                                        <div class="box">
                                            <div class="b1">
                                                <div class="b2">
                                                    <a href="/product/index"><img src="~/Assets/images/products/img02.jpg" alt="image description"></a>
                                                    <ul class="links">
                                                        <li><a href="#"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                                                        <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                        <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="txt">
                                            <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                            <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                        </div>
                                    </div><!-- mt product1 center end here -->
                                </div>
                                <!-- slide end here -->
                            </div>
                            <!-- tabs slider end here -->
                        </div>
                    </div>
                </div>
                <!-- mt producttabs end here -->
            </div>
        </div>
    </div>
    <!-- mt bestseller start here -->
    <div class="mt-bestseller bg-grey text-center wow fadeInUp" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 mt-heading text-uppercase">
                    <h2 class="heading">BEST SELLER</h2>
                    <p>EXCEPTEUR SINT OCCAECAT</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="bestseller-slider">
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img11.jpg" alt="image description"></a>
                                            <span class="caption">
                                                <span class="best-price">Best Price</span>
                                            </span>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img12.jpg" alt="image description"></a>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Marvelous Modern 3 Seater</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img13.jpg" alt="image description"></a>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Puff  Armchair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img11.jpg" alt="image description"></a>
                                            <span class="caption">
                                                <span class="best-price">Best Price</span>
                                            </span>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Bombi Chair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>399,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img12.jpg" alt="image description"></a>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Marvelous Modern 3 Seater</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>599,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                        <div class="slide">
                            <!-- mt product1 center start here -->
                            <div class="mt-product1 large">
                                <div class="box">
                                    <div class="b1">
                                        <div class="b2">
                                            <a href="/product/index"><img src="~/Assets/images/products/img13.jpg" alt="image description"></a>
                                            <span class="caption">
                                                <span class="off">15% Off</span>
                                            </span>
                                            <ul class="links add">
                                                <li><a href="#"><i class="icon-handbag"></i></a></li>
                                                <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                                                <li><a href="#popup1" class="lightbox"><i class="icomoon icon-eye"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="txt">
                                    <strong class="title"><a href="/product/index">Puff  Armchair</a></strong>
                                    <span class="price"><i class="fa fa-eur"></i> <span>200,00</span></span>
                                </div>
                            </div><!-- mt product1 center end here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mt bestseller start here -->
    <div class="mt-smallproducts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm wow fadeInLeft" data-wow-delay="0.4s">
                    <h3 class="heading">Hot Sale</h3>
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img14.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Egon Wooden Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img15.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Oyo Cantilever Chair</a></strong>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img16.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Kurve Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomsm wow fadeInLeft" data-wow-delay="0.4s">
                    <h3 class="heading">Featured Products</h3>
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img17.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Bombi Chair</a></strong>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$33,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img18.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Oyo Cantilever Chair</a></strong>
                            </div>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img19.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Puff Chair</a></strong>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mt-paddingbottomxs wow fadeInRight" data-wow-delay="0.4s">
                    <h3 class="heading">Sale Products</h3>
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img20.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Marvelous Wooden Chair</a></strong>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img21.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Oyo Cantilever Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img16.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Kurve Chair</a></strong>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="0.4s">
                    <h3 class="heading">Top Rated Products</h3>
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img14.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Egon Wooden Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img15.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Oyo Cantilever Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                    <!-- mt product4 start here -->
                    <div class="mt-product4 mt-paddingbottom20">
                        <div class="img">
                            <a href="/product/index"><img alt="image description" src="~/Assets/images/products/img16.jpg"></a>
                        </div>
                        <div class="text">
                            <div class="frame">
                                <strong><a href="/product/index">Kurve Chair</a></strong>
                                <ul class="mt-stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                </ul>
                            </div>
                            <del class="off">$75,00</del>
                            <span class="price">$55,00</span>
                        </div>
                    </div><!-- mt product4 end here -->
                </div>
            </div>
        </div>
    </div><!-- mt bestseller end here -->
</main>