
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Areas/Admin/Assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Areas/Admin/Assets/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Areas/Admin/Assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/Admin/Assets/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link href="~/template-client/images/favicon.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="~/Areas/Admin/Assets/plugins/iCheck/square/blue.css">
    <link href="~/Areas/Admin/Assets/plugins/alert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Assets/plugins/alert/toastr.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Areas/Admin/Assets/index2.html">Chào mừng bạn</a>
        </div>
        @RenderBody()
    </div>
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/Areas/Admin/Assets/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Areas/Admin/Assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Areas/Admin/Assets/plugins/alert/sweetalert2.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/alert/toastr.min.js"></script>

    <script>
        $(window).on('load', function () {
            const mgs_type = $('input[name=mgs_type]').val();
            const msg = $('input[name=mgs]').val();
            if (mgs_type != '' && msg != '') {
                toastr.options.timeOut = 5000;
                switch (mgs_type) {
                    case 'success':
                        toastr.info(msg);
                        break;
                    case 'warning':
                        toastr.warning(msg);
                        break;
                    case 'danger':
                        toastr.error(msg);
                        break;
                }
            }
        });
        $("#checkAll").click(function () {
            console.log($('#checkItem'));
            jQuery('.checkItem').not(this).prop('checked', this.checked);
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>

