@model Fashion.Models.Discount
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-warning" style="margin-bottom:0px">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mã giảm giá mới</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @using (Html.BeginForm("Create", "DiscountAdmin", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Mã giảm giá:</label>
                    @Html.TextAreaFor(model => model.Code, htmlAttributes: new { @class = "form-control", @required = "true", @placeholder = "Nhập code" })
                </div>
                <div class="form-group">
                    <label>Chi tiết mã giảm giá:</label>
                    @Html.TextBoxFor(model => model.Detail, htmlAttributes: new { @class = "form-control", @required = "true", @placeholder = "Nhập code" })
                </div>
                <div class="form-group">
                    <label>Thời giản tồn tại:</label>
                    @Html.TextBoxFor(model => model.Time, htmlAttributes: new { @class = "form-control", @required = "true", @placeholder = "Nhập code", @type="number" })
                </div>
                <div class="form-group" style="margin-bottom:0px">
                    @Html.CheckBoxFor(model => model.Status) <span style="font-weight:600">Kích hoạt</span>
                </div>
                <div class="box-footer">

                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                    <a href="/Admin/DiscountAdmin/List" class="btn btn-default">Quay lại</a>
                </div>
            }
        </div>
    </div>
</section>

