
@{
    ViewBag.Title = "ChangePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="mt-main">
    <!-- Mt Contact Banner of the Page -->
    <section class="mt-contact-banner style4" style="background-image: url(/Assets/images/img43.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>HAVE A GOOD DAY!</h1>
                    <!-- Breadcrumbs of the Page -->
                    <nav class="breadcrumbs">
                        <ul class="list-unstyled">
                            <li><a href="#">Trang chủ<i class="fa fa-angle-right"></i></a></li>
                            <li>Đổi mật khẩu</li>
                        </ul>
                    </nav><!-- Breadcrumbs of the Page end -->
                </div>
            </div>
        </div>
    </section><!-- Mt Contact Banner of the Page end -->
    <div class="mt-padding-login">
        <div class="mt-side-widget">
            <header>
                <span class="mt-side-subtitle">ĐỔI MẬT KHẨU</span>
            </header>
            <form action="#">
                <fieldset>
                    <input type="password" placeholder="Mật khẩu mới" class="input">
                    <input type="password" placeholder="Nhập lại mật khẩu mới" class="input">
                    <button type="submit" class="btn-type1">Đổi mật khẩu</button>
                </fieldset>
            </form>
        </div>
    </div>
</main>
